html,
body {
  background: #21232a;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;
  padding: 70px;
}

h1 {
  font-weight: 400;
}

button {
  padding: 0.3em 0.8em;
  font-size: 1rem;
  margin-right: 10px;
}
